@model List<Cyber_Kitchen.Models.RatingModel>
@using Cyber_Kitchen.Models
@{
    ViewBag.Title = "CreateRating";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="alert-info">SELECT YOUR CHOICE TO SUIT THE BEST RESTAURANTS</h1>
@Html.Partial("Message")
<form action="CreateRating" method="Post" id="form_sample_1" class="form-horizontal" novalidate="novalidate">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Taste</th>
                <th>Quality</th>
                <th>Quantity</th>
                <th>Customer Service</th>
                <th></th>
                <th>TimeLiness</th>
                <th></th>
                @*<th>Total Score</th>*@
            </tr>
        </thead>
        <tbody>
        

            @{ var model = (RestaurantModel[])ViewBag.restaurants;}

           @*// if (model != null)*@
            @*{*@
                @for (int i = 0; i < model.Count(); i++)
                {
                    <tr>
                        @Html.Hidden("model[" + @i + "].RestId", model[i].RestId)
                 
                        <td>
                            <div class="col-md-12">
                                <div @*class="checkbox"*@>
                                    @*<input type="checkbox" id="check_@rating.RestId" name="ratIds" />*@
                                    @{ var restName = model[i].RestName;}
                                    <label>@restName</label>
                                </div>
                            </div>
                        </td>
                        <td class="required">
                            <div>
                                <label class="control-label col-md-12" >
                               
                                    <select id="taste" name="model[@i].Taste" class="form-control" required="required"> 

                                        <option value="" >select</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </label>
                            </div>
                        </td>
                        <td>
                            <select id="quality" name="model[@i].Quality" class="form-control" >
                                <option value="">select</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </td>
                        <td>
                            <select id="quantity" name="model[@i].Quantity" class="form-control">
                                <option value="">select</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </td>

                        <td>
                            <div>
                                <select id="timeliness" name="model[@i].TimeLiness" class="form-control">
                                    <option value="">select</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </td>
                        <th></th>
                        <td>
                            <div>
                                <select id="customerServices" name="model[@i].CustomerServices" class="form-control">
                                    <option value="">select</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </td>

                        <td>
                            <div>
          
                            </div>
                            
                        </td>
                    </tr>
                      

                  }
                     
        </tbody>
    </table>

    <div class="form-actions">
        <div class="row">
            <div class="offset-md-3 col-md-6 pull-right">
                <button type="submit" class="btn btn-info" id="submitData" >Save</button>
            </div>
            @if(User.IsInRole("Admin"))
            { 
            <div class="col-md-1">
                <a href="@Url.Action("Index","Rating", new { area = ""})" class="btn btn-chatpane">Back To List(s)</a>
            </div>
            }
        </div>
    </div>
</form>


@section Scripts {
<link href="~/Content/toastr.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.0.0.js"></script>
<script src="~/Scripts/toastr.js"></script>

}


