@model Cyber_Kitchen.Models.RatingExtensionModel
@using Cyber_Kitchen.Models

@{
    ViewBag.Title = "CreateRating";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<h1></h1>
<h1></h1>
<h1></h1>
<br />

@*<b><p >Rate the following Caterers on a Scale of 1 - 5 (5 being the highest Mark) </p></b>*@

<b><p>RATE THE FOLLOWING CATERERS ON A SCALE OF 1 - 5 (5 being the highest Mark)</p></b>
<br />
<ul>
    <li>1 = Poor</li>
    <li>2 = Fair</li>
    <li>3 = Good</li>
    <li>4 = Very Good</li>
    <li>5 = Excellent</li></ul>



@Html.Partial("Message")
<form action="CreateRating" method="Post" id="form_sample_1" class="form-horizontal" novalidate="novalidate">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <table>
        <thead>
            
            <tr>
                <th></th>
                <th>Taste</th>
                <th>Quality</th>
                <th>Quantity</th>
                <th>TimeLiness</th>
                 <th></th>
                <th>Customer Service</th>
                <th></th>
            
            </tr>
        </thead>
        <tbody>

            @{ var ListRating = (List<RestaurantModel>)ViewBag.restaurants;}

     
            @for (int i = 0; i < ListRating.Count(); i++)
            {
                <tr>
                    @Html.Hidden("ListRating[" + @i + "].RestId", ListRating[i].RestId)

                    <td>
                        <div class="col-md-12">
                            @{ var restName = ListRating[i].RestName;}
                            <label>@restName</label>
                        </div>
                    </td>

                    <td class="required">
                        <select id="taste" name="ListRating[@i].Taste" class="form-control" required="required">
                            <option value="">select</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        @*</div>*@
                    </td>
                    <td>
                        <select id="quality" name="ListRating[@i].Quality" class="form-control">
                            <option value="">select</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                    <td>
                        <select id="quantity" name="ListRating[@i].Quantity" class="form-control">
                            <option value="">select</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>

                    <td>
                        <div>
                            <select id="timeliness" name="ListRating[@i].TimeLiness" class="form-control">
                                <option value="">select</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </td>
                    <th></th>
                    <td>
                        <div>
                            <select id="customerServices" name="ListRating[@i].CustomerServices" class="form-control">
                                <option value="">select</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </td>

                    <td>
                        <div>

                        </div>

                    </td>

                </tr>
               } 
        </tbody>

    </table>
.
    <hr />


       <b> <p> How much are you willing to pay for your lunch per meal.</p></b>
    @Html.RadioButtonFor(m => m.IsCatererSelected, "500")   ₦@string.Format("{0:N}", 500)) (Mama Calabar)<br>
    @Html.RadioButtonFor(m => m.IsCatererSelected, "600")  ₦@string.Format("{0:N}", 600) (Mama Caro)<br>
    @Html.RadioButtonFor(m => m.IsCatererSelected, "700")    ₦@string.Format("{0:N}", 700) (Mr Emma)<br>
    @Html.RadioButtonFor(m => m.IsCatererSelected, "800")    ₦@string.Format("{0:N}", 800) (Mr Ernest)<br>



    <hr />

            <div class="form-group row">
                <label class="control-label col-md-3">
                    Should Mfong come back?
                </label>
                <div class="col-md-12">
                    <select id="IsMfongComingBack" name="IsMfongComingBack" class="form-control">
                        <option value="">Select</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="offset-md-3 col-md-6 pull-right">
                        <button type="submit" class="btn btn-info" id="submitData">Submit</button>
                    </div>
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="col-md-1">
                            <a href="@Url.Action("Index", "Rating", new { area = "" })" class="btn btn-chatpane">Back To List(s)</a>
                        </div>
                    }
                </div>
            </div>
</form>
          

@section Scripts {
<link href="~/Content/toastr.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.0.0.js"></script>
<script src="~/Scripts/toastr.js"></script>

}


