@model Cyber_Kitchen.Models.MealModel
@{
    ViewBag.Title = "ClockIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb page-breadcrumb pull-right">
    
</ol>
<h1 class="alert-info">ADD MEAL</h1>
<div class="card-body" id="bar-parent">
    <form action="ClockIn" method="Post" id="form_sample_1" class="form-horizontal" novalidate="novalidate">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="form-body">
            <div class="form-group row">
                <label class="control-label col-md-3">
                    StaffId
                    <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.StaffId, new { @class = "form-control input-height", placeholder = "enter staffs number" })
                    @Html.ValidationMessageFor(m => m.StaffId, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="form-group row">
                <label class="control-label col-md-3">
                    Status
                    <span class="required" aria-required="true"> * </span>
                </label>*@
               @*<div>
                   <div class="col-md-5">
                       @Html.TextBoxFor(m => m.Status, new { @class = "form-control input-height", placeholder = "enter staffs number" })
                       @Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
                   </div>
               </div>
            </div>*@
           
            <div class="form-actions">
                <div class="row">
                    <div class="offset-md-3 col-md-6 pull-right">
                        <button type="submit" class="btn btn-info" id="submitData">ClockIn</button>
                        @*<button type="button" class="btn btn-danger">Cancel</button>*@

                    </div>
                    <div class=" col-md-1">
                        <a href="@Url.Action("Index","Meal", new { area = ""})" class="btn btn-chatpane">Back To List(s)</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

