@model IEnumerable<Cyber_Kitchen.Models.VoterModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <ol class="breadcrumb page-breadcrumb pull-right"></ol>
</div>
<h1 class="alert-info">ELIGIBLE STAFFS</h1>
<div class="btn-group">
    @if (User.IsInRole("Admin"))
    {
        <a href="@Url.Action("CreateVoter", "Voter")" class="btn btn-info "><i class="fa fa-plus"></i>Add New </a>
    }
</div>
@*<table class="table table-striped table-bordered table-hover @*table-checkable order-column valign-middle" id="example4>*@
    <table class="table table-striped table-bordered table-hover  order-column valign-middle" id="example4">
        <thead>
            <tr>
                @*@if (User.IsInRole("Admin"))
                {
                <th> s/n </th>
                }*@

                <th> Staff Name </th>
                <th> Staff NO. </th>
                @if (User.IsInRole("Admin"))
                {
                <th> Date Created </th>
                <th> Action </th>
                }

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr class="gradeX odd" role="row" id="row-@item.VoterId">
                @*@if(User.IsInRole("Admin"))
                {
                    <td class="left"><input type="checkbox" id="checkedMe" data-id="@item.VoterId"></td>
                }*@
                
                
                @*@if (User.IsInRole("Admin"))
                {
                <td class="left">@Html.DisplayFor(modelItem => item.VoterId)</td>
                }*@

                <td>@Html.DisplayFor(modelItem => item.StaffName)</td>
                <td>@Html.DisplayFor(modelItem => item.StaffNo)</td>
                @if (User.IsInRole("Admin"))
                {
                <td>@String.Format("{0:d}", item.CreatedDate)</td>
                }
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                    <a href="/Voter/EditVoter?id=@item.VoterId" class="btn btn-primary btn-xs">
                        <i class="fa fa-pencil"></i>Edit
                    </a>
                    <a href="#" class="btn btn-danger btn-xs" id="deleteaction" data-id="@item.VoterId" data-name="@item.StaffName">
                        <i class="fa fa-trash-o "></i> Delete
                    </a>
                    }

                </td>
            </tr>

            }

        </tbody>
    </table>
<script>
    $(function () {

        $(document).on('click', '#deleteaction', function (e) {
            e.preventDefault();

            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            var votName = $(this).attr("data-name");
            if (recordToDelete !== '') {
                var confirmValue = confirm("Are you sure you want to delete this Staff Name(s)? ");
                if (confirmValue) {
                  
                    // Perform the ajax post DeleteFaculty(int id, string facultyName)
                    $.post("/Voter/DeleteVoter", { "id": recordToDelete, "votName": votName },
                        function (data) {
                            // Successful requests get here
                            // Update the page elements
                            if (data.status == true) {
                                //$("html").removeClass("loading")
                                $('#row-' + recordToDelete).fadeOut("slow", function () { $(this).remove(); });
                                alert(data.message);
                            }
                            else {
                                $("html").removeClass("loading")
                                alert(data.error);
                            }

                        });

                }
                else {
                   // $("html").removeClass("loading")
                    return;

                }

            }
        });

        });

</script>


